body {
  background-color: #FDF5E6;
}

h1{
  color: #00bcd4;
  text-shadow: 2px 2px 5px #b2ebf2;
}

h3{
  color: #00bcd4;  
}

hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%;
}
